* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 16px;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #626F47;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    background-color: #CCE0AC;
}

h1, p {
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

input[type=checkbox] {
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
